/* Reset and base styles  */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Links */
a, a:link, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

ul, ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img, svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button, input[type=submit] {
  display: inline-block;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

.tablet, .mobie {
  display: none;
}

@media only screen and (width < 1000px) {
  .desktop {
    display: none;
  }
  .tablet {
    display: block;
  }
}
body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 17px;
  line-height: 28px;
  color: #333333;
}
@media only screen and (width < 1000px) {
  body {
    font-size: 15px;
    line-height: 24px;
  }
}

a {
  color: #597DB3;
  border-bottom: 1px solid rgba(51, 111, 238, 0.2);
  display: inline-block;
  line-height: 1;
}
a:hover {
  cursor: pointer;
}

.case {
  width: 784px;
  height: 2448px;
  outline: 1px solid #DCE2E8;
  margin: 80px 200px;
  padding: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media only screen and (width < 1000px) {
  .case {
    width: 608px;
    margin: 80px;
  }
}

.case__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 40px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.case__header-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.case__shield {
  width: 94px;
  height: 26px;
  background-color: #FFDD2D;
  font-size: 13px;
  text-align: center;
  padding: 2px 10px 4px;
  font-weight: 700;
  line-height: 20px;
  gap: 10px;
  margin-bottom: 12px;
}

.case__title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 44px;
  -webkit-font-feature-settings: "liga" off;
          font-feature-settings: "liga" off;
}
@media only screen and (width < 1000px) {
  .case__title {
    font-size: 24px;
    line-height: 28px;
  }
}

.case__circle {
  height: 80px;
  width: 80px;
  border-radius: 1000px;
  background-color: #F1F3F5;
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}
.case__circle:hover {
  opacity: 0%;
  cursor: pointer;
}

.case__category {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #808C9E;
}

.case__category-tags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 12px;
     -moz-column-gap: 12px;
          column-gap: 12px;
  margin-top: 8px;
}

.case__tags {
  background-color: #F1F3F5;
}

.case__content, .case__block, .case__block-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.case__content {
  margin: 48px 0px 30px;
  gap: 48px;
}

.case__block, .case__block-text {
  gap: 16px;
}
@media only screen and (width < 1000px) {
  .case__block, .case__block-text {
    gap: 12px;
  }
}

.case__block-title {
  font-size: 28px;
  line-height: 32px;
  -webkit-font-feature-settings: "liga" off;
          font-feature-settings: "liga" off;
  margin-right: -20px;
}
@media only screen and (width < 1000px) {
  .case__block-title {
    font-size: 21px;
  }
}

.case__block-text_24px-gap {
  gap: 24px;
}

.case__author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 288px;
  height: 64px;
  gap: 16px;
}

.case__author-background {
  width: 64px;
  height: 64px;
  border-radius: 100px;
  background-color: #F1F3F5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.case__author-photo {
  width: 36px;
  height: 36px;
  -ms-flex-item-align: center;
      align-self: center;
}

.case__author-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  line-height: 20px;
  font-size: 15px;
}

.case__author-name {
  font-weight: 700;
}

.case__author-description {
  color: #808C9E;
}

.case__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 50px;
  line-height: 20px;
  font-size: 15px;
}

.case__footer-editor {
  text-align: center;
  color: #808C9E;
}

.case__footer-link {
  text-align: right;
}

.case__block_margin-top {
  margin-top: 28px;
}
@media only screen and (width < 1000px) {
  .case__block_margin-top {
    margin-top: 0px;
  }
}