//colors
$white: #fff;
$gray-border: #DCE2E8;
$gray-text: #808C9E;
$gray-background: #F1F3F5;
$gray-fill: #404754;
$yellow: #FFDD2D;
$black-title: #111111;
$black-text: #333333;
$blue-links: #597DB3;
$blue-links-secondary: rgba(51, 111, 238, 0.2);

@mixin flexColumn {
  display: flex;
  flex-direction: column;
}
