//colors
$white: #fff;
$gray-border: #DCE2E8;
$gray-text: #808C9E;
$gray-background: #F1F3F5;
$yellow: #FFDD2D;
$black-title: #111111;
$black-text: #333333;
$blue-links: #336FEE;
$blue-links-secondary: #597DB3;

@mixin flexColumn {
  display: flex;
  flex-direction: column;
}
