@import "reset";
@import "vars";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@font-face {
  font-family: 'Tinkoff Sans';
  src: url("fonts/tinkoffsans.otf") format("opentype");
}

@media only screen and (width > 1000px) {
  .tablet, .mobile {
    display: none
  }
  .desktop {
    display: inline;
  }
}

@media only screen and (500px < width < 1000px) {
  .desktop, .mobile {
    display: none;
  }
  .tablet {
    display: inline;
  }
}

@media only screen and (width < 500px) {
  .desktop, .tablet {
    display: none;
 }
  .mobile {
    display: inline;
  }
}

@media only screen and (500px < width < 1000px ) {
  .case__block-title_tinkoffsans {
    font-family: 'Tinkoff Sans';
  }
}


body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 17px;
  line-height: 28px;
  color: $black-text;
  @media only screen and (width < 1000px) {
    font-size: 15px;
    line-height: 24px;
  }
}

a {
  color: $blue-links;
  border-bottom: 1px solid $blue-links-secondary;
  display: inline-block;
  line-height: 1;
  &:hover {
    cursor: pointer;
  }
  @media only screen and (width < 1000px) {
    line-height: 1.37;
    position: relative;
  }
}

.case__kassa-link::after {
  content: "са";
  display: inline-block;
  line-height: 1;
  @media only screen and (width < 1000px) {
    line-height: 1.37;
    position: absolute;
  }
}

.case {
  width: 784px;
  height: 2448px;
  outline: 1px solid $gray-border;
  margin: 80px 200px;
  padding: 48px;
  @include flexColumn;
  @media only screen and (width < 1000px) {
    width: 608px;
    height: 2046px;
    margin: 80px;
  }
  @media only screen and (width < 500px) {
    width: 288px;
    height: 3389px;
    margin: 80px 16px;
    display: flex;
    padding: 24px 24px 28px;
    }
}


.case__header {
  display: flex;
  margin-bottom: 40px;
  justify-content: space-between;
  @media only screen and (width < 1000px) {
    margin-bottom: 14px;
  }
  @media only screen and (width < 500px) {
    flex-direction: column;
    gap: 12px;
    margin-bottom: 12px;
  }
}

.case__header-left {
  @include flexColumn;
}

.case__shield {
  width: 94px;
  height: 26px;
  background-color: $yellow;
  font-size: 13px;
  text-align: center;
  padding: 2px 10px 4px;
  font-weight: 700; 
  line-height: 20px;
  gap: 10px;
  margin-bottom: 12px;
  @media only screen and (width < 500px) {
    margin-bottom: 16px;
  }
}

.case__title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 44px;
  font-feature-settings: 'liga' off;
  @media only screen and (width < 1000px) {
    font-size: 24px;
    line-height: 28px;
  }
}

.case__circle {
  height: 80px;
  width: 80px;
  border-radius: 1000px;
  background-color: $gray-background;
  transition: all 0.15s ease-in-out;
  &:hover {
      @media (hover: hover) {
      opacity: 0%;
      cursor: pointer;
    }
  }
  @media only screen and (width < 500px) {
  margin-left: 3px;
  }
}

.case__category {
  @include flexColumn;
  color: $gray-text;
}

.case__category-tags {
  display: flex;
  column-gap: 12px;
  margin-top: 8px;
  vertical-align: baseline;
  @media only screen and (width < 500px) {
    flex-direction: column;
    row-gap: 12px;
    align-items: baseline;
  }
}

.case__tags {
  background-color: $gray-background;
}

.case__content, .case__block, .case__block-text {
  @include flexColumn;
}

.case__content {
  margin: 48px 0px 30px;
  gap: 48px;
  @media only screen and (width < 500px) {
    margin-top: 40px;
    gap: 36px;
  }
}

.case__block, .case__block-text {
  gap: 16px;
  @media only screen and (width < 1000px) {
    gap: 12px;
  }
  @media only screen and (width < 500px) {
    gap: 16px;
  }
}

.case__block-title {
  font-size: 28px;
  line-height: 32px;
  font-feature-settings: 'liga' off;
  @media only screen and (width < 1000px) {
    font-size: 21px;
    line-height: 28px;
  }
  
}

.case__block-title_margins {
  margin-right: -20px;
  @media only screen and (width < 500px) {
    margin-right: 24px;
    margin-bottom: -12px;
  }
}

.case__block-text_24px-gap {
  gap: 24px;
  @media only screen and (width < 1000px) {
    gap: 16px;
  }
}

.case__author {
  display: flex;
  width: 288px;
  height: 64px;
  gap: 16px;
  align-items: center;
  margin-top: -2px;
  @media only screen and (width < 500px) {
    width: 240px;
    height: 80px;
    align-self: center;
    padding-bottom: 36px;
    margin-top: -2px;
    align-items: flex-start;
  }
}

.case__author-background {
  width: 64px;
  height: 64px;
  border-radius: 64px;
  background-color: $gray-background;
  display: flex;
  justify-content: center;
  align-items: center;
}

.case__author-photo {
  width: 36px;
  height: 36px;
  align-self: center;
  color: $gray-fill;
}

.case__author-text {
  @include flexColumn;
  line-height: 20px;
  font-size: 15px;
  @media only screen and (width < 500px) {
    vertical-align:bottom;
  }
}

.case__author-name {
  font-weight: 700;
}

.case__author-description {
  color: $gray-text;
}

.case__footer {
  display: flex;
  justify-content: space-between;
  margin-top: 48px;
  line-height: 20px;
  font-size: 15px;
  @media only screen and (width < 500px) {
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 8px;
    margin-top: 36px;
    margin-bottom: 38px;
  }
}

.case__footer-editor {
  text-align: center;
  color: $gray-text;
}

.case__footer-link {
  text-align: right;
  margin-right: -2px;
  margin-top: 2px;
  @media only screen and (500px < width < 1000px) {
    margin-top: 0px;
  }
}

.case__block_margin-top {
  vertical-align: baseline;
  margin-top: 29px;
  @media only screen and (width < 1000px) {
    margin-top: 0px;
  }
  @media only screen and (width < 500px) {
    margin-top: -24px;
  }
}

.case__block-text_tablet-gap {
  @media only screen and (500px < width < 1000px) {
    gap: 16px;
    margin-top: -2px;
  }
}

.case__arrow {
  color: #111111;
  border-bottom: 4px solid transparent;
  vertical-align: middle;
  border-left: 2px solid transparent;
  @media only screen and (500px < width < 1000px) {
    position: relative;
    left: -1%;
    border-top: 2px solid transparent;
  }
}

.case__kassa-link {
  @media only screen and (500px < width < 1000px) {
    position: relative;
    left: -0.8%;
  }
}

@media only screen and (width > 1000px) {
  .case__block-title_minus-margin {
    margin-bottom: -1px;
  }
}

@media only screen and (width < 500px) {
  .case__block-title_minus-margin {
    margin-bottom: -1px;
  }
}
